.ogr_width{
    width: 80%;
    margin: auto;
}
.flex{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 4%;
}
.info_room{
    width: 20%;
    position: relative;
}
.users{
    width: 75%;
}
.name{
    margin-top: 0;
    text-align: center;
}
.sIcon{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.sIcon img{
    width: 60%;
}
.subInfo{
    margin-top: 5%;
    width: 100%;
}
.description{
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
    word-wrap: break-word;
}
.flex_line{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.flex_line p{
    width: 80%;
    margin: 0;
}
.flex_line h4{
    text-align: center;
    width: 20%;
}
.title_set{
    color: black;
    margin-top: 0;
}
.settings_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 2%;
    cursor: pointer;
    border: 0;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
}
.settings_btn img{
    width: 24px;
    height: 24px;
}
.settings{
    width: 23%;
    min-height: 250px;
    background-color: white;
    position: relative;
    border-radius: 13px;
    padding: 1%;
}
.settings h2{
    margin-top: 0;
    text-align: center;
    font-size: 18px;
}
.sub_settings{
    width: 100%;
    position: relative;
}
.exit{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%;
    border: 0;
    background: none;
    cursor: pointer;
}
.delete{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to right bottom, #e55039, #eb2f06);
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}
.save{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to bottom right, #b8e994, #079992);
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}
.flex_desc{
    word-wrap: break-word;
}
.change{
    background: none;
    border:0;
    cursor: pointer;
}
.change img{
    width: 20px;
}
.flex_desc textarea{
    width: 100%;
}
.icons{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
}
.del{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 13px;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.window{
    width: 100%;
}
.window h2, h3{
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}
.window h3 {
    font-size: 16px;
    color: #ddd;
}
.but_del{
    margin: auto;
    margin-top: 5%;
    width: 90%;
}
.but_del button{
    width: 46%;
    padding: 1%;
    margin: 1%;
    height: 40px;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}
.yes{
    background: linear-gradient(to bottom right, #b8e994, #079992);
}
.no{
    background: linear-gradient(to right bottom, #e55039, #eb2f06);
}
.share{
    margin-top: 5%;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 7px;
    padding: 2%;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom right, #b8e994, #079992);
    font-family: 'Didact Gothic', sans-serif;
    position: relative;
}
.push_nam{
    position: absolute;
    top: -13px;
    right: -5px;
    padding: 4%;
    background: linear-gradient(to bottom right, #f6e58d, #f9ca24);
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.address{
    padding: 2%;
    width: 96%;
    margin-top: 5%;
    height: 40px;
    box-shadow: inset 0 0 3px 1px #00000024;
    border-radius: 13px;
    display: flex;
    align-items: center;
}
.address h4{
    margin: 0;
    font-size: 14px;
}
.player{
    width: 16%;
    min-height: 100px;
    padding: 1%;
    margin: 1%;
    border-radius: 13px;
    box-shadow: 0 0 13px 4px #0000001f;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.list_players{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.name_player{
    margin-top: 0;
    width: 100%;
    height: 45%;
    margin: 0;
}
.status{
    width: 100%;
    height: 15%;
    margin: 0;
    margin-bottom: 6px;
    color: #bdbdbd;
}
.lock{
    padding: 1%;
    width: 98%;
    height: 40%;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom right, #f6e58d, #f9ca24);
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}
.btn_v{
    padding: 1%;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 0;
    cursor: pointer;
    color: white;
    background: linear-gradient(to bottom right, #b8e994, #079992);
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    margin-top: 15%;
}
.listPlayerAdd{
    width: 98%;
    padding: 1%;
}
.btn_add{
    width: 45%;
}
.btn_add button{
    width: 46%;
    padding: 1%;
    margin: 1%;
    border: 0;
    border-radius: 7px;
    height: 40px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.namePlayer{
    margin: 0;
    width: 55%;
    font-size: 17px;
}
.cell_player{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.btn_exit{
    width: 100%;
    margin-top: 25%;
    height: 50px;
    border-radius: 7px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
    background: linear-gradient(to bottom right, #f6e58d, #f9ca24);
}
.start_play{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
    background: linear-gradient(to bottom right, #b8e994, #079992);
}
.J{
    width: 100%;
    height: 40px;
    display: inline-flex;
    align-items: center;
}
.btnJ{
    width: 30%;
    height: 100%;
}
.inpJ{
    width: 70%;
    height: 87%;
}
.iconSettings{
    height: 100%;
}
.icSet{
    height: 70px;
}
.ww{
    width: 94%;
    border-radius: 7px;
    padding: 3%;
    box-shadow: 0 0 4px 2px #00000017;
}
.ss_{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.ss_ button{
    width: 48%;
}
@media screen and (max-width:700px) {
    .ogr_width{
        width: 100%;
    }
    .formPForm{
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    .flex{
        flex-direction: column;
        align-items: center;

    }
    .info_room{
        width: 90%;
        padding: 2%;
    }
    .users{
        width: 90%;
        margin-top: 4%;
    }
    .player{
        padding: 2%;
        width: 96%;
        margin-top: 10px;
        box-shadow: 0 0 8px 2px rgb(0 0 0 / 7%);
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .settings{
        width: 90%;
        margin: auto;
    }
    .btn_v{
        height: 50px;
    }
}